/*.navigation {
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 20vh;
    max-height: 100px;
    font-size: 1.25em;
  }
  
  .navigationItem {
    display: inline-flex;
    align-items: center;
    margin: 0 1em;
  }
  */
body{
  font-family: "Catamaran", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  color: #222;  
}

ol {
  list-style-type: decimal;
}


  a {
    color: #0f8e08;
    text-decoration: none;
    box-shadow: none;
  }

  a:hover{
    color: #939393;
  }

  .Navigation {
    text-align: center;
    letter-spacing: .0625em;
    float: none;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
  }

  .Navigation a {
    color: currentColor;
    color: inherit;
    text-decoration: none;
    box-shadow: none;
    font-weight: 600;   
  }

  .Navigation a:hover {
    color: inherit;
    text-decoration: underline;
  } 

.NavigationItem {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }

  .Header {
    /* max-width: 48em; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
  }
  

.Banner {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  text-align: center;
  /* font-size: 2.5em; */
  font-weight: 600;
  /* margin-top: 10px; */
}

.Banner a {
  display: block;
  color: inherit;
  text-decoration: none;
  box-shadow: none;
}

.Banner-line {
  display: block;
  margin-right: -10px;
  font-family: Lato, sans-serif;
  font-weight: 100;
  }
  
  .Banner-logo {
    float: center;
    margin-right: .25em;
    width: auto;
    height: auto;
    vertical-align: top;
  }
  

h1 {
  scale: 1.5;
  margin-bottom: 1;
  margin-top: 0;
  font-size: 2.5em;
  margin: 0.67em 0;
}

h1, h2, h3, h4 {
  font-family: "Catamaran", sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 2em;
}

.bigQuote {
  font-weight: 400;
  text-transform: italic;
  margin-top: 1rem;
}


.bigText{
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -2.3px;
}


.Column {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.MainContent {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 48em;
  padding-bottom: 30px;

}

.BodyContent {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /*padding-left: 10px;
  padding-right: 10px;
   max-width: 48em; 
  padding-bottom: 30px;*/

}



ol, ul, dl {
    padding-left: 1.375em;
    margin-left: 1.375em;
    }


.Footer {
  /* max-width: 48em; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  background-color: #222;
}

.footer-content{
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 0.75em;
}


.u-textCenter {
  text-align: center !important;
}

.u-textLeft {
  text-align: left !important;
}

.u-textRight {
  text-align: right !important;
}


ul {
  list-style: disc;
}

.home__section__header {
  /* margin: 0; */
  line-height: 1;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #222;
}

.who__caps {
  text-transform: capitalize;
  margin-top: 0;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}

.button, button {
  background:#0f8e08;
  color: #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border:none;
  padding: 10px;
}

.button:hover, button:hover {
  border: none;
  background:#12a609;
  color: #ffffff;
  box-shadow: 0px 0px 1px #777;
}


.MainStripe1 {
  /* max-width: 48em; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  /* padding-left: 50px;
  padding-right: 50px; 
  padding-bottom: 20px;*/
  background-color: #f7f7f7;
}

.MainStripe2 {
  /* max-width: 48em; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  /* padding-left: 50px;
  padding-right: 50px; 
  padding-bottom: 20px;*/
  background-color: #eeeeee;
}


.home__big__header {
  /* margin: 0; */
  font-weight: 400;
  line-height: 1;
  font-size: 2.6rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #222;
}

.social-holder {
  margin-top: 10px;
}

.social {
  margin-left: 10px;
  color: #222;
}

.social :hover {
  color: #0f8e08;
}
